

a:link {
  text-decoration: none;
}

.top-header{
  padding: 3px;
}

.top-header img{
  padding-top: 13px;
}

.yuyan{
  padding-top: 13px;
  padding-right: 25px;
  color: #FFF;
  display: inline-block;
}

.logo{
  padding: 8px;
  
}

.blue-bar{
  background-color: #003262;
}

.header-row{
  background: #FFF;
  padding-top: 3px;
    border-bottom: 1px solid #bbbbbb;
box-shadow: 0 0 4px #777;
}

.nav-bar{
  padding-top: 25px;
  font-size: 20px;
}

.nav-bar a{
  padding-top: 18px;
}

.nav-bar a:link{
  color: #003262;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #003262;
}

.bigcarousel>img{
  width: 100%;

}

.heading-pic {
  margin-bottom: 0px;
}

.menu-container {
    overflow: hidden;

}

.downdown {
  height: 100%;
  background-color: #003262;
  box-shadow: 2px 2px 4px #000;
  width: 170px;
  position: relative;
  top: -20px;
}

.stayaway{
  padding-top: 30px;
}

.button-list {
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding: 20px;
  position: relative;
}

.button-list a{
  color: #fff;
  text-decoration: none;
}

.button-list a:visited{
  color: #fff;
}

.allcontent {
  padding-top: 15px;
}

.ltittle{
	font-size: 18px;
	color: #003262;
  padding: 10px 20px;
  margin: 10px 0 30px;
  font-size: 18px;
  border-left:5px solid #003262;
}


.content{
  color: #000;
	font-size: 16px;
	padding-right: 40px;
	padding-left: 20px;
}

.t-faculty {
  cellpadding: 5px;
}

.bottombar{
  background-color: #1c1e1f;
  padding-left: 10px;
  margin-top: 70px;
}

.fastlink{
  color: #d1d4d6;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
}

.fastlink a:visited{
  color: #d1d4d6;
}

.fastlink a:hover{
  color: #fff;
}

.bottomlogo{
  width: 80%;
  float: right;
  padding-top: 60px;
}






.picfacility {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 25px;
}




.viewblock-a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.viewblock-b {
  color: #fff;
  font-size: 13px;
  text-align: right;
  font-weight: lighter;
}

a.viewblock:hover {
  color
}

.all-viewblock {
  width: 60px;
  height: 60px;
  padding: 3px;
  background-color: #003262;
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

.blockcover {
  position: absolute;
}


.trendsoverview {
  padding-left: 80px;
}

.subtittle {
  color: #999;
  text-align: left;
  font-size: 10px;
}

.attract {
  height: 50px;
  color: #666;
  font-size: 14px;
}


.newsblock {
  position: relative;
  min-height: 100px;
  padding-bottom: 30px;
}

.news-content {
  padding-top: 25px;
}

.media-object {
  width: 64px;
  height: 64px;
}